<ion-content padding>
  <div class="container">
    <div class="row">
      <div class="col s12 l4">
        <list (onSelect)="selectRoom($event)" [item]="room" [items]="rooms" [title]="'Чат'"></list>
      </div>
      <div class="col s12 l8">
        <div *ngIf="room" class="ticket">
          <div class="ticket-title">{{ room.user.name }}</div>
          <div class="row">
            <div *ngFor="let message of messages" class="col s12">
              <div [class.full]="message.files.length && message.message.length"
                   class="message z-depth-1 {{ message.from }}">
                <div *ngIf="message.teacher" class="teacher-avatar">
                  <img src="{{ message.teacher.image }}"/>
                </div>
                <div *ngIf="message.teacher" class="teacher-name blue-text">{{ message.teacher.name}}</div>
                <div class="text">
                  <trumbowyg [content]="message.message" [nl2br]="true"></trumbowyg>
                </div>
                <div class="date-time">
                  {{ message.dateTime | dateFormat: '{day} {month} в {hour}:{minute}' }}
                </div>
                <div *ngIf="message.files.length" class="attached-files">
                  <a *ngFor="let file of message.files" class="btn blue" href="{{ file }}" target="_blank">
                    <i class="material-icons">cloud_download</i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col s12">
              <message (onMessage)="submit($event)"></message>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
