html {
  font-size: unset;
}

ion-content {
  background-image: url(../assets/imgs/background.jpg);
  background-position: center;
  background-size: cover;
  font-size: 1rem !important;
}

.scroll-content {
  padding-top: 76px !important;
  overflow-y: auto;
}