.ticket {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: white;
  padding: 20px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;

  & > * {
    margin-top: 10px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 20px;
    }

  }

  & > hr {
    margin-left: -20px;
    margin-right: -20px;
  }

  & > .btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  & .row, & .row .col {
    margin-bottom: 0px;
  }

  & > .ticket-title {
    color: #2196F3;

    margin-top: -20px;
    padding-top: 20px;

    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 24px;
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }

  &.active {
    & > .ticket-title {
      color: white;
      background: #2196F3;
    }

    background-color: #e3f2fd;
  }
}
